/* .carouselcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        margin: auto;
    }
.carouselcard {
        flex: 0 0 300px;
        margin-right: 20px;
        border-radius: 5px;
        height: 500px;
        width: 300px;
        transition: transform 0.5s ease;
} */

